
.Footer{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #084a56;
    color:aliceblue;
    padding: 3vh 3vw;
    margin-top: 3vh;

}
.Footer h4{

    margin-left: 2vw;
}

.footer-body{
    display: flex;
    justify-content: space-evenly;
    gap: 10vw;
    margin-bottom: 3vh;
    margin-top: 3vh;
}



.footer-body ul li{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    list-style:none;
    color:aliceblue; 
    cursor: pointer;
}

.footer-body ul li:hover{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    list-style: none;
    color:aliceblue; 
}

.footer-bottom p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color:aliceblue;
    margin: 0;
}