body,html{
  margin:0;
  padding: 0;
}

* { box-sizing: border-box; }
body {
  margin: 0;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  background: #fafff6;
  color: #0f172a;
}
a { color: inherit; }