
body{font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;margin:0;background:#f2f0f0;color:#222}
.header{position:sticky;top:0;background:rgb(108, 67, 67);padding:10px 0;border-bottom:1px solid #ddd}
.nav{max-width:1100px;margin:auto;display:flex;justify-content:space-between;align-items:center}
.nav-links{list-style:none;display:flex;gap:20px;padding:0}
.nav a{text-decoration:none;color:#3d2525}

.hero{display:flex;gap:20px;align-items:center;padding:40px;max-width:1100px;margin:auto}
.hero-img{width:400px;height:500px;border-radius:50%;border: bottom 0;}
.btn{padding:10px 18px;background:#770b12;color:white;border-radius:6px;text-decoration:none;display:inline-block;margin-top:10px}

.section{max-width:1100px;margin:auto;padding:20px}
.skills-box{display:flex;flex-wrap:wrap;gap:15px}
.skills-box div{background:rgb(174, 118, 118);padding:10px 15px;border:1px solid #ddd;border-radius:6px}

.table,tr,td,th{border-collapse:collapse;border:1px solid #4e2525;padding:10px}
.project-grid{display:grid;grid-template-columns:repeat(auto-fit,minmax(250px,1fr));gap:20px;margin-top:20px}
.card{background:rgb(239, 178, 178);padding:15px;border:1px solid #ddd;border-radius:6px}
.card img{width:100%;border-radius:6px}

.contact-container{display:flex;gap:20px}
.contact-form{flex:2;display:flex;flex-direction:column;gap:10px}
.footer{text-align:center;padding:20px;background:rgb(108, 67, 67);margin-top:20px}

/* Responsive */
@media(max-width:768px){
  .hero{flex-direction:column;text-align:center}
  .contact-container{flex-direction:column}
  .nav-links{flex-direction:column;background:white;position:absolute;top:60px;right:0;padding:10px;display:none}
}